<% include header %>
<%if(entries.length){%>
<%entries.forEach((entry)=>{%>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted pull-right">
            <%=entry.created%>
              </div>
              <%=entry.title%>
    </div>
    <div class="panel-body">
        <%=entry.body%>
    </div>
</div>
<%})%>
<%}else{%>
    <p>Nohay visitas todavia! <a href="/new-entry">Agregar una!</a></p>

<%}%>
<% include footer %>