<div class="dmid">
    <div class="slider">
        <div><img src="zombie helado.png" title="zombie helado" class="img"></div>
        <div><img src="zombie love.jpg" title="Los mejores disfraces. " class="img"></div>
       

    </div>

</div>