<html>
    <head>
        <title>Registro de zombis</title>
        <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="w3.css"> 
    </head>
    <div class="w3-top ">
            <div class="w3-row w3-hide-small w3-black">
                <div class="w3-quarter s3">
                    <a href="clases.ejs" class="w3-button w3-block w3-Light Green">clases</a>
                </div>
                <div class="w3-col s3">
                    <a href="armas.ejs" class="w3-button w3-block w3-Light Green">armas</a>
                </div>
            </div>
        </div>
</html>